# https://wiki.debian.org/SourcesList

deb {{ MIRROR }}/ {{ RELEASE }} {{ COMPONENTS }}
deb {{ MIRROR }}/ {{ RELEASE }}-updates {{ COMPONENTS }}
deb {{ SECURITY_MIRROR }}/ {{ RELEASE }}-security {{ COMPONENTS }}
