# taken from docker image parrotsec/core:latest, with updates enabled
# (it is commented out in the image, as it's deemed unstable)

deb {{ MIRROR }}/ {{ RELEASE }} {{ COMPONENTS }}
deb {{ SECURITY_MIRROR }}/ {{ RELEASE }}-security {{ COMPONENTS }}
deb {{ MIRROR }}/ {{ RELEASE }}-updates {{ COMPONENTS }}
deb {{ MIRROR }}/ {{ RELEASE }}-backports {{ COMPONENTS }}
