# https://www.reddit.com/r/debian/comments/18j2rbl/raspberry_pi_os_with_debian_bookworm_e_unable_to/

# This is just Debian unmodified
deb http://deb.debian.org/debian/ {{ RELEASE }} {{ COMPONENTS }}
deb http://deb.debian.org/debian-security/ {{ RELEASE }}-security {{ COMPONENTS }}
deb http://deb.debian.org/debian/ {{ RELEASE }}-updates {{ COMPONENTS }}
deb http://deb.debian.org/debian/ {{ RELEASE }}-backports {{ COMPONENTS }}

# RPi specific packages
deb {{ MIRROR }}/ {{ RELEASE }} main
