# https://www.raspberrypi.org/forums/viewtopic.php?t=298069

# The raspbian repository is the majority of the software that is used on the
# Pi. It is basically the Debian armhf release recompiled to run on the ARMv6
# that is used on the Pi 1 and 0. (with a few tweaks to improve performance).
# Debian armhf won't work on a Pi 1 or 0 as they only support ARMv7 and later.
deb http://raspbian.raspberrypi.org/raspbian/ {{ RELEASE }} {{ COMPONENTS }}

# The archive.raspberrypi.org repository contains code produced by or modified
# by Raspberry Pi Trading. It contains Pi specific code to take full advantage
# of the hardware of the Pi. In there you will find the Linux Kernel, the
# firmware/bootloader code, enhanced versions of VLC and Chromium Browser and
# more specifically for the Raspberry Pi.
deb {{ MIRROR }}/ {{ RELEASE }} main
