deb {{ MIRROR }}/ {{ RELEASE }} {{ COMPONENTS }}
deb {{ MIRROR }}/ {{ RELEASE }}-updates {{ COMPONENTS }}
deb {{ MIRROR }}/ {{ RELEASE }}-backports {{ COMPONENTS }}
deb {{ SECURITY_MIRROR}}/ {{ RELEASE }}-security {{ COMPONENTS }}
